@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Instrument+Serif:ital@0;1&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.userdash {
    padding-top: 90px;
    box-sizing: border-box;
    width: 100vw;
    /* background-color: rgb(180, 140, 99); */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.userHead {
    width: 100vw;
    height: auto;
    padding-block: 10px;
    background-color: rgb(240, 247, 245);
    padding-left: 15px;
}

.userHead .nameHello {
    gap: 5px;
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
}

.userHead .userIcon {
    background-color: white;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding: 0;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid rgb(128, 128, 128, .5);
}

.userIcon .user {
    width: 50px;
    height: 30px;
}



.userdash .userName {
    display: flex;
    flex-direction: column;
    /* background-color: #048f7c; */
    gap: 0 !important;
}

.userdash .userName .welcome {
    font-family: 'Times New Roman', Times, serif !important;
}


.userdash .logout {
    font-family: 'Times New Roman', Times, serif;
    font-size: .91rem;
    /* color: rgb(170, 10, 10); */
    cursor: pointer;
    transition: 500ms all ease;
    /* background-color: #22c55e; */
    font-family: Arial, Helvetica, sans-serif;
    width: 110px;
    padding: 5px;
    padding-block: 8px;
    background-color: white;
    box-shadow: 2px 1px 1px 1px rgb(0, 0, 0, .1);
    border-radius: 5px;
    cursor: pointer;
}



.userdash .rideContainer {
   width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* gap: 20px; */
    padding-inline: 10px;
    padding-block: 15px;
}

.rideContainer .info {
    width: 350px;
    padding-block: 10px;
    box-shadow: 1px 1px 3px 1px rgb(104, 102, 102, .1);
    cursor: pointer;
    transition: 5ms all ease-in-out;
}
.your{
    text-decoration: underline;
    text-decoration-color: #22c55e;
    text-decoration-thickness: 4px;
    text-underline-offset: 7px;
}
.rideContainer .info:hover {
   
    box-shadow: 1px 1px 3px 4px rgb(104, 102, 102, .1);
}
.timeline {
    position: relative;
    padding-left: 30px;
}

.timeline p {
    text-transform: capitalize;
    font-weight: 500;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 15px;
    top: 0px;
    bottom: 0;
    border-left: 3px dotted #22c55e;
    /* dotted vertical line */
}

.timeline .item {
    position: relative;
    margin-bottom: 20px;
}

.timeline .item .fields {
    font-size: .8rem;
}

.icon {
    position: absolute;
    left: -20px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.pickup {
    fill: blue;
    size: 100px !important;
}

.drop {
    position: absolute;
    top: 35px;
    fill: rgb(158, 6, 6);

}

.cancel {
    display: flex;
    justify-content: center;
    /* background-color: #22c55e; */
    height: 15%;
    width: 100% !important;
}

.cancel .cancelButton {
    width: 80%;
    text-align: center;
    border: 1px solid rgb(128, 128, 128,.3);
    color: rgb(223, 3, 3);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    font-weight: 600;
}
.accepted .accept{
    border: 1px solid green !important;
    border-radius: 5px;
    color: green;
    font-weight: bold;
}
@media(max-width:400px) {
    .userdash .rideContainer {
        width: 100vw;
    }

    .userHead .userIcon {
       display: none;
    }

    /* .userIcon .user {
        width: 30px;
        height: 0px;
    } */
}