@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Instrument+Serif:ital@0;1&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.userdash {
    padding-top: 90px;
    box-sizing: border-box;
    width: 100vw;
    /* background-color: rgb(180, 140, 99); */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.userHead {
    width: 100vw;
    height: auto;
    padding-block: 10px;
    background-color: rgb(240, 247, 245);
    color: rgb(165, 115, 115);
}

.userdash p {
    display: flex;
    align-items: center;
    padding-left: 5px;
    font-size: 2rem;
    text-transform: capitalize;
     font-family: 'Lobster Two';
    font-style: italic;
    font-size: 1.6 rem;
}

.userdash span {
    font-family: 'Lobster Two';
    font-style: italic;
    font-size: 2.5rem;
    margin-left: 5px;
    padding-left: 4px;
}
.userdash div .logout{
   font-family: 'Times New Roman', Times, serif;
   font-size: medium;
   color: rgb(170, 10, 10);
   font-weight: lighter !important;
}
.userdash div .logout:hover{
    background-color: wheat;
    cursor: pointer;
    padding: 2px;
    padding-inline: 3px;
}
.userdash .rideContainer {
    width: 100vw;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-inline: 5px;
    padding-block: 5px;
}

.ride {
    width: 230px;
    height: 180px;
    background-color: rgb(240, 247, 245);
    border: 1px solid rgb(243, 242, 242);
    box-shadow: 5px 5px 5px 1px rgb(180, 161, 161);
    font-size: small !important;
    padding-top: 10px;
    position: relative;
}

.ride span {
    font-size: 1.3rem;
    display: flex;
    padding-left: 5px;
    align-items: center;
    gap: 2px;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-style: unset;
}

/* HTML: <div class="breadcrumb"></div> */
.breadcrumb {
    --s: 20px;
    /* control the shape */

    line-height: 1;
    /* control the height */
    padding-inline: .3em calc(var(--s) + .3em);
    clip-path: polygon(0 0, calc(100% - var(--s)) 0, 100% 50%, calc(100% - var(--s)) 100%, 0 100%);
    background: #048f7c;
    width: fit-content;
    position: relative;
    top: 20px;
    left: 3px;
    color: white;
    height: 30px;
}

.rideContainer .cancel {
    position: relative;
    top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1rem !important;
}

.cancel span {
    font-size: 1rem;
    background-color: rgb(155, 19, 19);
    text-align: center;
    padding-inline: 5px;
    color: white;
    cursor: pointer;
}