.drivermodal{
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgb(0, 0, 0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal_Box{
    min-width: 400px;
    height: 200px;
    background-color: whitesmoke;
    text-align: center;
    padding-top: 15px;
}
.drivermodal .modal_Box div{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.modal_Box button{
    width: 56px;
    /* padding-inline: 5px; */
    text-align: center;
}