.ForgotPassword {
    padding-top: 86px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: px;
    background-size: cover;
    background-position: center;
}
.ForgotPassword h3{
    color: #f9f9fa;
    font-size: 2em;
    background-color: rgba(12, 12, 12, 0.1);
}
.ForgotPassword form {
    width: 400px;
}

@media (max-width: 768px) {
    .ForgotPassword {
        background-position: top center;
    }
}

@media(max-width:440px) {
    .ForgotPassword form {
        width: 95dvw;
    }
}