.StationBookView{
    padding-top: 90px;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.StationBookView .Bookings{
    width: 180px;
    height: 85px;
    border-radius: 5px;
    box-shadow: 1px 0px 2px 1px rgba(105, 105, 105, 0.3);
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    gap: 3px;
    cursor: pointer;
}

@media(max-width:400px){
   .StationBookView .Bookings{
    width: 150px;
    height: 80px;
    border-radius: 5px;
    box-shadow: 1px 0px 2px 1px rgba(105, 105, 105, 0.3);
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    gap: 3px;
    cursor: pointer;
    }
}