.admin_container {
    padding-top: 90px;
    /* background-color: gray; */
    height: 100vh;
    width: 100vw !important;
    box-sizing: border-box;
    margin: 0;
}

.admin_container .admin {
    height: 80vh;
    width: 100% !important;
}

.admin .sideBar {
    /* background-color: burlywood; */
    width: 20vw;
    height: 100%;
}

.sideBar ul {
    list-style: none;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: brown;
    color: wheat;
}
.sideBar ul li{
    cursor: pointer;
}

.admin_container .main {
    width: 80vw;
    height: 100%;
}
.card{
    padding-block: 5px;
    min-width: 150px;
    background-color: rgb(48, 100, 24);
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    color: white;
}
.card span{
    background-color: rgb(88, 59, 3);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
}
@media(max-width:992px) {
    .sideBar {
        width: 100vw !important;
        height: 20vh !important;
    }

    .admin_container .main {
        width: 100vw !important;
        height: 80vh !important;
    }
}